doctype html
html        
	link(rel='stylesheet' href='/stylesheets/fotobox.css')
	script(src="/socket.io/socket.io.js")
	script.
		//var socket = io.connect('http://localhost:8000');		
		var socket = io.connect(window.location.search.split("/")[0]);
		function printImage(fileName){
			socket.emit("printImage", {"sessionId": "FotoBox", "fileName": fileName})
		}
		function hideNavigation()
		{
			for (el of document.getElementsByClassName("navButtonOpt")){
				el.classList.add("navHide");
			}
			document.getElementById("navButton").setAttribute("onclick", "showNavigation();");
		};
		function showNavigation()
		{
			for (el of document.getElementsByClassName("navButtonOpt")){
				el.classList.remove("navHide");
			}
			document.getElementById("navButton").setAttribute("onclick", "hideNavigation();");
		};
	head
		title= title
	body
		img(id="image" src="../images/aperture.png" onclick="hideNavigation();" class="rotate")

		div#nav
			a#navButton( onclick="showNavigation();").navImage.navButton
				img(src="../images/baseline_menu_white_48dp.png")     
			a#galleryButton(href="../gallery").navImage.navButtonOpt.navHide
				img(src="../images/baseline_view_module_white_48dp.png")
			a#settingsButton(href="../admin/settings").navImage.navButtonOpt.navHide
				img(src="../images/baseline_settings_white_48dp.png")

			if Printer.bEnable
				a#printButton(onclick="console.log('nothing to print')").navImage.navButton
					img(src="../images/baseline_print_white_48dp.png")
			a#storageButton(href="../admin/settings").navImage.navButton.navWarning.navHide
				img(src="../images/baseline_sd_card_alert_white_48dp.png")

		script(src="/socket.io/socket.io.js")
		script.
			var socket = io();  
			socket.on('displayFoto', function(imagePath) {
				//document.getElementById("image").src = "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" // empty gif
				//document.getElementById("image").classList.add("navHide");
				document.getElementById("image").src = "../" + imagePath;
				document.getElementById("image").addEventListener('load', function() {
					document.getElementById("image").classList.remove("rotate");
				});
				let imageFile = imagePath.split('/').slice(-1)[0]
				let printButton = document.getElementById("printButton");
				printButton.setAttribute("onclick","printImage('" + imageFile + "')")
				printButton.classList.remove("navHide");
			})
			socket.on('displayCountdown', function(tiCountdown) {
				console.log("display countdown")
				setTimeout(function() {
					//document.getElementById("image").src = "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" // empty gif
					document.getElementById("image").src = "../images/aperture.png"
					document.getElementById("image").classList.add("rotate");
					}, tiCountdown);
				setTimeout(function() {
					document.getElementById("image").src = "../images/321_0002_1.png"
					}, tiCountdown*2/3);
				setTimeout(function() {
					document.getElementById("image").src = "../images/321_0001_2.png"
					}, tiCountdown/3);
				document.getElementById("image").src = "../images/321_0000_3.png"
				let printButton = document.getElementById("printButton");
				printButton.classList.add("navHide");
			})
			socket.on('storageWarning', function(bWarning) {				
				let storageButton = document.getElementById("storageButton");
				if(bWarning) {
					storageButton.classList.remove("navHide");
				} else {
					storageButton.classList.add("navHide");
				}
			})