doctype html
html        
    link(rel='stylesheet', href='/stylesheets/fotobox.css')
    script.
        function confirmPrintFoto(src){
            confirm("Willst du das Foto " + src + " wirklich drucken?");
        };
        function hideNavigation()
        {
            for (el of document.getElementsByClassName("navButtonOpt")){
                el.classList.add("navHide");
            }
            document.getElementById("navButton").setAttribute("onclick", "showNavigation();");
        };
        function showNavigation()
        {
            for (el of document.getElementsByClassName("navButtonOpt")){
                el.classList.remove("navHide");
            }
            document.getElementById("navButton").setAttribute("onclick", "hideNavigation();");
        };
    head
        title= title
    body
        img(id="image", src="../images/aperture.png", onclick="hideNavigation();")
        
        div#nav
            a#navButton( onclick="showNavigation();").navImage.navButton
                img(src="../images/baseline_menu_white_48dp.png")     
            a#galleryButton(href="../gallery").navImage.navButtonOpt.navHide
                img(src="../images/baseline_view_module_white_48dp.png")
            a#settingsButton(href="../admin/settings").navImage.navButtonOpt.navHide
                img(src="../images/baseline_settings_white_48dp.png")
                
            if FotoBox.bPrintFromScreen
                a#printButton(href="" onclick="confirmPrintFoto('asd');").navImage.navButton
                    img(src="../images/baseline_print_white_48dp.png")

        script(src="/socket.io/socket.io.js")
        script.
            var socket = io();  
            socket.on('displayFoto', function(src){document.getElementById("image").src = "../" + src});