doctype html
html        
	link(rel='stylesheet' href='/stylesheets/fotobox.css')
	script(src="/socket.io/socket.io.js")
	script.
		//var socket = io.connect('http://localhost:8000');		
		var socket = io.connect(window.location.search.split("/")[0]);
		function printImage(fileName){
			socket.emit("printImage", {"sessionId": "FotoBox", "fileName": fileName})
		}
		function hideNavigation()
		{
			for (el of document.getElementsByClassName("navButtonOpt")){
				el.classList.add("navHide");
			}
			document.getElementById("navButton").setAttribute("onclick", "showNavigation();");
		};
		function showNavigation()
		{
			for (el of document.getElementsByClassName("navButtonOpt")){
				el.classList.remove("navHide");
			}
			document.getElementById("navButton").setAttribute("onclick", "hideNavigation();");
		};
	head
		title= title
	body
		img(id="image" src="../images/aperture.png" onclick="hideNavigation();" class="rotate")
		if Printer.bEnable
			a#printButton(onclick="console.log('nothing to print')").navImage.singleNavButton.button.navHide
				img(src="../images/printer-256.png")

		script(src="/socket.io/socket.io.js")
		script.
			var socket = io();  
			socket.on('displayFoto', function(imagePath) {
				//document.getElementById("image").src = "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" // empty gif
				//document.getElementById("image").classList.add("navHide");
				document.getElementById("image").src = "../" + imagePath;
				document.getElementById("image").addEventListener('load', function() {
					document.getElementById("image").classList.remove("rotate");
				});
				let imageFile = imagePath.split('/').slice(-1)[0]
				let printButton = document.getElementById("printButton");
				printButton.childNodes[0].src =  "../images/printer-256.png";
				printButton.setAttribute("onclick","printImage('" + imageFile + "')")
				printButton.classList.remove("navHide");
			})
			socket.on('displayCountdown', function(tiCountdown) {
				console.log("display countdown")
				setTimeout(function() {
					//document.getElementById("image").src = "data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" // empty gif
					document.getElementById("image").src = "../images/aperture.png"
					document.getElementById("image").classList.add("rotate");
					}, tiCountdown);
				setTimeout(function() {
					document.getElementById("image").src = "../images/321_1.png"
					}, tiCountdown*2/3);
				setTimeout(function() {
					document.getElementById("image").src = "../images/321_2.png"
					}, tiCountdown/3);
				document.getElementById("image").src = "../images/321_3.png"
				let printButton = document.getElementById("printButton");
				printButton.classList.add("navHide");
			})
			socket.on('printing', function(imageFile) {
				if(document.getElementById("image").src.endsWith(imageFile)) {
					let printButton = document.getElementById("printButton");
					printButton.setAttribute("onclick","");
					printButton.childNodes[0].src =  "../images/printer-check-256.png";
				}
				console.log(imageFile)
			})
			socket.on('storageWarning', function(bWarning) {				
				let storageButton = document.getElementById("storageButton");
				if(bWarning) {
					storageButton.classList.remove("navHide");
				} else {
					storageButton.classList.add("navHide");
				}
			})