doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/popupS.min.css')
		script(src="/javascripts/popupS.min.js")
	body
		ul.topnav
			li
				a(href="../fotobox") FotoBox
			li
				a(href="../gallery") Gallery
			li
				a(href="../admin/settings") Settings
		div.content
			block content
