doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/popupS.min.css')
		script(src="/javascripts/popupS.min.js")
	body
		block content
