doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/popupS.min.css')
		script(src="/javascripts/popupS.min.js")
	body
		ul.topnav
			li
				a(href="#FotoBox") FotoBox
			li
				a(href="#Gallery") Gallery
			li
				a(href="#Settings") Settings
		div.content
			block content
